.grid {
  display: grid;
  grid-template-columns: 50% calc(50% - 10px);
  gap: 0 10px;
  height: calc(100% - 20px);
}

.code {
  height: 100%;
  margin: 0;
  padding: 10px;
  overflow: hidden auto;
  background-color: #eee;
}
